* {
  font-family: helvetica, sans-serif;
}

.header {
  font-weight: bold;
  color: white;
  text-align: center;
  background-image: url("../img/the-flatiron-building.png");
}

.header h1 {
  font-size: 70px;
}

.header p{
  font-size: 18px;
  text-decoration: underline;
}

.body
{
  font-weight: bold;
  text-align: center;
}

.body h2 {
  font-size: 32px;
}
.body h2 {
  font-size: 23px;
}

.body p {
    font-weight: normal;
    font-size: 14px;
}
